:root {
  --bs-primary: #34a056;
  --bs-secondary: #2d7f35;
  /* --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125; */
}

.ZZZRegler {
  height: 200px;
  width: 50px;
  border: #909090 1px solid;
}

.sliderbox {
  border: #909090 1px solid;
  text-align: center;
}
