<div class="auswertung d-flex justify-content-center">
  <table class="container table table-striped table-borderless">
    <thead>
      <tr>
        <th>test</th>
        <th>Test</th>
        <th>{{ Zufriedenheitsfaktoren.faktor1 }}</th>
        <th>{{ Zufriedenheitsfaktoren.faktor2 }}</th>
        <th>{{ Zufriedenheitsfaktoren.faktor3 }}</th>
        <th>Summe</th>
      </tr>
    </thead>
    <tbody>
      <!-- row g-4 py-5 row-cols-1 row-cols-lg-4 -->
      <tr class="" *ngFor="let regler of allIchSchieberegler; first as isFirst">
        <th scope="row"><span *ngIf="isFirst">Ich</span></th>
        <td>
          {{ regler.beschreibung }}
        </td>

        <td>
          {{ regler.regler1 }}
        </td>
        <td>
          {{ regler.regler2 }}
        </td>
        <td>
          {{ regler.regler3 }}
        </td>
        <td
          [ngStyle]="{
            'background-color':
              regler.regler1 + regler.regler2 + regler.regler3
              | colorGradient: startColor:middleColor:endColor:min:max
          }"
        >
          {{ regler.regler1 + regler.regler2 + regler.regler3 }}
        </td>
      </tr>
      <tr class="" *ngFor="let regler of allFamilieSchieberegler; first as isFirst">
        <th scope="row"><span *ngIf="isFirst">Familie</span></th>
        <td>
          {{ regler.beschreibung }}
        </td>

        <td>
          {{ regler.regler1 }}
        </td>
        <td>
          {{ regler.regler2 }}
        </td>
        <td>
          {{ regler.regler3 }}
        </td>
        <td
          [ngStyle]="{
            'background-color':
              regler.regler1 + regler.regler2 + regler.regler3
              | colorGradient: startColor:middleColor:endColor:min:max
          }"
        >
          {{ regler.regler1 + regler.regler2 + regler.regler3 }}
        </td>
      </tr>
      <tr class="" *ngFor="let regler of allBerufSchieberegler; first as isFirst">
        <th scope="row"><span *ngIf="isFirst">Beruf</span></th>
        <td>
          {{ regler.beschreibung }}
        </td>

        <td>
          {{ regler.regler1 }}
        </td>
        <td>
          {{ regler.regler2 }}
        </td>
        <td>
          {{ regler.regler3 }}
        </td>
        <td
          [ngStyle]="{
            'background-color':
              regler.regler1 + regler.regler2 + regler.regler3
              | colorGradient: startColor:middleColor:endColor:min:max
          }"
        >
          {{ regler.regler1 + regler.regler2 + regler.regler3 }}
        </td>
      </tr>
      <tr class="" *ngFor="let regler of allUmweltSchieberegler; first as isFirst">
        <th scope="row"><span *ngIf="isFirst">Umwelt</span></th>
        <td>
          {{ regler.beschreibung }}
        </td>

        <td>
          {{ regler.regler1 }}
        </td>
        <td>
          {{ regler.regler2 }}
        </td>
        <td>
          {{ regler.regler3 }}
        </td>
        <td
          [ngStyle]="{
            'background-color':
              regler.regler1 + regler.regler2 + regler.regler3
              | colorGradient: startColor:middleColor:endColor:min:max
          }"
        >
          {{ regler.regler1 + regler.regler2 + regler.regler3 }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
