
.ZZZRegler {
    height: 200px;
    width: 50px;
    background-color: green;
    border: #909090 1px solid;
  }
  
  .sliderbox {
    border: #909090 1px solid;
    text-align: center;
  }

  .ZZZReglerAfter{
    // height: 50%;
    width: 100%;
    background-color: white;
  }
