<app-navbar></app-navbar>
<app-eingabe
  [Zufriedenheitsfaktoren]="Zufriedenheitsfaktoren"
  [allSchieberegler]="allSchieberegler"
  (ZufriedenheitsfaktorenChange)="Zufriedenheitsfaktoren=$event"
  (allSchiebereglerChange)="allSchieberegler=$event"
></app-eingabe>
<app-ist-analyse
  [Zufriedenheitsfaktoren]="Zufriedenheitsfaktoren"
  [allSchieberegler]="allSchieberegler"
></app-ist-analyse>
<app-auswertung
  [Zufriedenheitsfaktoren]="Zufriedenheitsfaktoren"
  [allSchieberegler]="allSchieberegler"
></app-auswertung>
<!-- <router-outlet></router-outlet> -->
<app-footer></app-footer>
