<app-navbar></app-navbar>
<app-eingabe
  [Zufriedenheitsfaktoren]="Zufriedenheitsfaktoren"
  [allIchSchieberegler]="allIchSchieberegler"
  [allFamilieSchieberegler]="allFamilieSchieberegler"
  [allBerufSchieberegler]="allBerufSchieberegler"
  [allUmweltSchieberegler]="allUmweltSchieberegler"

  (ZufriedenheitsfaktorenChange)="Zufriedenheitsfaktoren=$event"
  (allIchSchiebereglerChange)="allIchSchieberegler=$event"
  (allFamilieSchiebereglerChange)="allFamilieSchieberegler=$event"
  (allBerufSchiebereglerChange)="allBerufSchieberegler=$event"
  (allUmweltSchiebereglerChange)="allUmweltSchieberegler=$event"
  ></app-eingabe>
<app-ist-analyse
  [Zufriedenheitsfaktoren]="Zufriedenheitsfaktoren"
  [allIchSchieberegler]="allIchSchieberegler"
  [allFamilieSchieberegler]="allFamilieSchieberegler"
  [allBerufSchieberegler]="allBerufSchieberegler"
  [allUmweltSchieberegler]="allUmweltSchieberegler"

  (allIchSchiebereglerChange)="allIchSchieberegler=$event"
  (allFamilieSchiebereglerChange)="allFamilieSchieberegler=$event"
  (allBerufSchiebereglerChange)="allBerufSchieberegler=$event"
  (allUmweltSchiebereglerChange)="allUmweltSchieberegler=$event"
></app-ist-analyse>
<app-auswertung
  [Zufriedenheitsfaktoren]="Zufriedenheitsfaktoren"
  [allIchSchieberegler]="allIchSchieberegler"
  [allFamilieSchieberegler]="allFamilieSchieberegler"
  [allBerufSchieberegler]="allBerufSchieberegler"
  [allUmweltSchieberegler]="allUmweltSchieberegler"
></app-auswertung>
<!-- <router-outlet></router-outlet> -->
<app-footer></app-footer>
