<div class="px-4 py-5 my-5 text-center">
    <div class="col-lg-6 mx-auto">
        <div class="eingabe">
            <div class="mb-3">
                <h4>Meine wichtigsten 3 Zufriedenheitsfaktoren sind:</h4>
                <input type="text" id="Zufriedenheitsfaktor1" class="ZufriedenheitsEingabe m-1">
                <input type="text" id="Zufriedenheitsfaktor2" class="ZufriedenheitsEingabe m-1">
                <input type="text" id="Zufriedenheitsfaktor3" class="ZufriedenheitsEingabe m-1">
            </div>
            <div class="row">
                <div class="col-sm-6 " data-name="Ich">
                    <h4>Ich</h4>
                    <div>
                        <input class="ErfüllungBereich m-1" type="text" data-id="Ich0" value="Körper"
                            disabled><br>
                        <input class="ErfüllungBereich m-1" type="text" data-id="Ich1" value="Seele"
                            disabled><br>
                        <input class="ErfüllungBereich m-1" type="text" data-id="Ich2" value="Geist"
                            disabled><br>
                    </div>
                    <button class="btn btn-success addBereich"><fa-icon icon="plus"></fa-icon></button>
                </div>
                <div class="col-sm-6" data-name="Familie">
                    <h4>Familie</h4>
                    <div>
                        <input class="ErfüllungBereich m-1" type="text" data-id="Familie0" value=""><br>
                    </div>
                    <button class="btn btn-success addBereich"><fa-icon icon="plus"></fa-icon></button>
                </div>
                <div class="col-sm-6" data-name="Beruf">
                    <h4>Beruf</h4>
                    <div>
                        <input class="ErfüllungBereich m-1" type="text" data-id="Beruf0" value=""><br>
                    </div>
                    <button class="btn btn-success addBereich"><fa-icon icon="plus"></fa-icon></button>
                </div>
                <div class="col-sm-6" data-name="Umwelt">
                    <h4>Umwelt</h4>
                    <div>
                        <input class="ErfüllungBereich m-1" type="text" data-id="Umwelt0" value=""><br>
                    </div>
                    <button class="btn btn-success addBereich"><fa-icon icon="plus"></fa-icon></button>
                </div>
            </div>
        </div>
    </div>
</div>
